= game_state(@tally.game_state)

%h1
  Your luck is written

.lead
  %p
    Turns left:
    %b= @tally.turns_left

  %p
    Letters used:
    %em= @tally.letters_used |> Enum.join(", ")

  %p
    Word so far:
    %b= @tally.letters |> Enum.join(" ")

  - if game_over?(@tally) do
    = new_game_button(@conn)
  - else
    = form_for(@conn, hangman_path(@conn, :make_move), [ as: :make_move, method: :put ], fn f ->
      = text_input(f, :guess)
      = submit("Guess!")
    - end)
